#navigation {
    background-color: #141f2a;
    padding: 10px;
    height: 50px;
    position: fixed;
    top: 0;
    margin: 0;
}

#navigation a {
    margin-left: 20px;
    color: #939499;
}

#navigation a:hover{
    color: aliceblue;
}

a {
    color: aliceblue;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #192733;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

canvas{
    display: inline;
}

#title{
    background-image: url("img/nyc.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: #141f2a;
}

footer{
    margin-top: 0px;
    padding-top: 0px;
}

#Section1{
    min-height: 100vh;
}

#barchart {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 2 / 1.2; /* or whatever ratio looks best */
    margin: 0 auto;
}

.table-container {
    width: 80%;
    margin:10px;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Pixellari";
     min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

th, td {
    text-align: center;
    border: 1px solid #000000;
    color:black;
    padding: 5px 10px;
}


th {
    background-color: rgb(88, 150, 215);
    color: black;
}

tr:nth-child(even) {
    background-color: #dadada;
}


.fly-in {
    transform: translateX(-100%); 
    opacity: 0; 
    transition: all 0.3s ease;
  }

  .Pixellari_Table {
    font-family: "Pixellari", sans-serif; 
    font-size: 25px;
  }