#navigation {
    background-color: #141f2a;
    padding: 10px;
    height: 50px;
    position: fixed;
    top: 0;
    margin: 0;
}

#navigation a {
    margin-left: 20px;
    color: #939499;
}

#navigation a:hover{
    color: aliceblue;
}

a {
    font-family: "Proxima Nova";
    color: aliceblue;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #192733;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

canvas{
    display: inline;
}

#title{
    background-image: url("img/nyc.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: #141f2a;
}

footer{
    margin-top: 0px;
    padding-top: 0px;
}

#Section1,#Section2{
    min-height: 100vh;
    border: 1px solid #000000; /* temporary */
}

#barchart {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 2 / 1.2; /* or whatever ratio looks best */
    margin: 0 auto;
}

table {
    width: 65% !important;
    height: auto;
    border-collapse: collapse;
    font-size: 25px;
}

th, td {
    text-align: center;
    color:black;
    padding: 22px 30px;
}


th {
    background-color: rgba(151, 22, 50, 0.583);
    color: rgb(190, 199, 206);
}

td{
    color: rgb(148, 153, 157);
}

tr:nth-child(even) {
    background-color: rgb(33, 44, 55);
}

tr:nth-child(odd) {
    background-color: #24313b;
}


#info{
    opacity: 0;
    padding-right: 50px;
}

li{
    font-size: 18px;
}

p{
    font-size: 18px;
    font-family: "Proxima Nova";
}

#table_button:active{
    background-color: #0d131b !important;
    border-color:rgb(150, 161, 170) !important; 
    color: rgb(150, 161, 170) !important;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(font/proxima_nova.woff2) format('woff2');
}

#maps {
    position: relative;
    top: 0;
    left: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center !important;
}

#maps img {
    position: relative;
    top: 0;
    left: 0;
    width: 55%; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    border: 10px solid #141f2a; 
    padding: 0px;
}