#navigation {
    background-color: #141f2a;
    padding: 10px;
    height: 50px;
    position: fixed;
    top: 0;
    margin: 0;
}

#navigation a {
    margin-left: 20px;
    color: #939499;
}

#navigation a:hover{
    color: aliceblue;
}

.dropdown-menu{
    background-color: #141f2a;
    outline-color: aliceblue;
}

.dropdown-menu a{
    font-size: 18px;
    font-family: "Proxima Nova";
    background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu a:hover{
    background-color: #111a23 !important;
    font-weight: normal !important;
    overflow-x:hidden;
    max-width: max-content;
    margin-left: 0px;
}

a {
    font-family: "Proxima Nova";
    color: aliceblue;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: normal;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #192733;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow-x: hidden;
}

canvas{
    display: inline;
}

#pieChart{
    width: 60% !important;
    height: auto !important;
}

#title{
    background-image: url("img/nyc.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color: #141f2a;
    position: relative;
}

footer{
    margin-top: 0px;
    padding-top: 0px;
}

#Section1,#Section2,#Section3,#Section4{
    min-height: 100vh;
}

.col-8{
    border-bottom: 5px dashed #15232d;
}

#barchart {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 2 / 1.2;
    margin: 0 auto;
}

table {
    width: 65% !important;
    height: auto;
    border-collapse: collapse;
    font-size: 25px;
}

th, td {
    text-align: center;
    color:black;
    padding: 22px 30px;
}


th {
    background-color: rgba(151, 22, 50, 0.583);
    color: rgb(190, 199, 206);
}

td{
    color: rgb(148, 153, 157);
}

tr:nth-child(even) {
    background-color: rgb(33, 44, 55);
}

tr:nth-child(odd) {
    background-color: #24313b;
}


#info{
    opacity: 0;
    padding-right: 50px;
}

li{
    font-size: 18px;
}

p{
    font-size: 18px;
    font-family: "Proxima Nova";
}

#table_button:active{
    background-color: #0d131b !important;
    border-color:rgb(255, 255, 255) !important; 
    color: rgb(150, 161, 170) !important;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(font/proxima_nova.woff2) format('woff2');
}


.source-code-pro{
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #15212b;
    font-weight: 600;
}

#maps {
    position: relative;
    top: 0;
    left: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center !important;
}

#maps img {
    position: relative;
    top: 0;
    left: 0;
    width: 55%; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    border: 10px solid #141f2a; 
    padding: 0px;
}

.content {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
padding: 20px;
line-height: 1.8;
/*max-width: 800px;*/
margin: 0 auto;
text-align: center;
}

  .timeline-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  .timeline {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    padding-left: 50vw;  /* Empty space on the left */
    padding-right: 50vw; /* Empty space on the right */
    gap: 100px;
  }

  .timeline-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #141f2ac3;
    z-index: -1;
  }

  .event {
    position: relative;
    width: 300px;
    background-color: #141f2ac3;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

  .event img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .event-content {
    padding: 15px;
  }

  .event-title {
    font-size: 1.2rem;
    margin: 0;
    font-weight: bold;
  }

  .event-date {
    font-size: 0.9rem;
    color: rgba(240, 248, 255, 0.904);
    margin: 5px 0;
  }

  .event-description {
    font-size: 0.95rem;
    margin-top: 10px;
  }

  #data_button{
    right: 50.1%;
  }

  #about_button{
    left: 50.1%;
  }

  #data_button,#about_button{
    position: absolute;
    width: 12%;
    top: 90%;
    background-color: #141f2ab4; 
    border-color:rgba(182, 194, 205,0.75); 
    color: rgba(182, 194, 205,0.75); 
    margin-bottom: 20px;
  }
  #data_button:hover,#about_button:hover{
    background-color: #141f2a; 
    border-color:rgb(182, 194, 205); 
    color: rgb(182, 194, 205); 
  }

  #back_button{
    position: relative;
  }

.btn-outline-primary {
    background-color: #141f2a9a !important;
    color: aliceblue !important;
    border: 0px !important;
} 

.btn-outline-primary:hover {
    background-color: #141f2acd !important;
    color: aliceblue !important;
    border: 0px !important;
} 

.btn-check:checked + .btn-outline-primary {
    background-color: #0b151f6e !important;
    color: aliceblue !important;
    border: 0px !important;
}

#map_button,#bar_button,#reload_button{
    background-color: aliceblue;
}

#map_button{
    width: 55%;
}

.accordion-button {
    background-color: #15212b;
    color: aliceblue;
    font-size: 20px;
    border: 1px solid #131c24;
  }

  .accordion-button:not(.collapsed) {
    background-color: #131c24;
    color: aliceblue;
    font-weight: bold;
  }

.accordion-body {
    background-color: #2b3c4a;
    color: rgb(181, 192, 202);
    font-size: 18px;
}

.accordion-item {
    border: 0px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 90%;
}
.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

.accordion-body a, .accordion-body p{
    color: rgb(181, 192, 202);
    font-size: 18px;
    padding: 0px;
}

.accordion-body a{
    font-weight: bold;
}

#about{
    background-image: url("img/preview.png");
    background-blend-mode:color;
    background-color: rgba(12, 37, 61, 0.3);
    background-repeat: repeat;
    position: relative;
}